.header{
    padding: 92px 49px 92px 51px;
}

.cover{
    padding: 165px 50px 62px 50px;
}

.lots{
    padding: 180px 50px 0 50px;
}

.about{
    padding: 182px 50px 180px 145px;
}

.footer{
    padding: 0 50px 90px 50px;
}
