.content-section{
  margin: 0;
}

.header{
  padding: 90px 50px;
  display: grid;
  grid-template-columns: 597px 503px 240px;
  align-items: center;
}

.header__menu{
  justify-self: start;
}

.header__menu-list{
  display: flex;
  list-style: circle;
  gap: 32px;
}

.header__menu-list .header__menu-item_active{
  /*предыдущий ревьюер отметил ошибкой и написал, что не следует повышать вес селектора, но я взял это 
  решение из разбора одного из предыдущих уроков (кейс "С чистого листа"), где был применён ровно такой метод.*/
  list-style: none;
}

.header__menu-item_active .header__menu-link{
  text-decoration: none;  
}

.header__menu-link{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  font-family: 'Raleway', sans-serif;
}

.header__logo{
  width: 140px;
  justify-self: start;
}

.header__logo-image{
  align-self: center;
}

.address{
  all: initial;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  font-family: 'Raleway', sans-serif;
  justify-self: start;
}

.address-link{
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Raleway', sans-serif;
}

.cover{
  display: flex;
  gap: 120px;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 20px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: 100% 101%;
  background-repeat: no-repeat;
  color: #FFF;
  position: relative;
  z-index: 0;
}

.overlay{
  width: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover__title{
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
  margin: 0;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 30px;
}

.cover__title__row-first{
  display: flex;
  padding-top: 9px;
  height: 115px;
}

.cover__title__row-first__part-two{
  padding-left: 30px;
}

.cover__title__row-second{
  display: flex;
  padding-right: 60px;
  height: 115px;
  justify-content: center;
  align-items: center;
}

.cover__title__row-second__part-two{
  padding-left: 30px;
}

.cover__title__row-third{
  display: flex;
  justify-content: end;
  align-items: start;
  height: 115px;
}

.cover__title__row-third__part-two{
  display: flex;
  justify-content: end;
  margin-left: 30px;
}

.cover__description{
  padding-right: 30px;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  gap: 78px;
}

.cover__description-text{
  max-width: 633px;
  word-spacing: 17.7px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  white-space: nowrap;
}

.bet-button{
  height: 52px;
  width: 257px;
  background-color: transparent;
  border-color: #FFF;
  border-width: 1px;
  border-style: solid;
  color: #FFF;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.lots{
  padding: 182px 50px 0 50px;
}

.lots__heading{
  padding-left: 40px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list{
  display: flex;
  gap: 25px;
  flex-grow: 1;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 27px;
}

.card-link{
  text-decoration: none;
}

.lots__card-list-item{
  width: 430px;
  min-height: 450px;
}

.card{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 450px;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
}

.card__title{
  margin: 50px 40px 0 40px;
  display: inline-block;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
  position: relative;
}

.card__text{
  margin: 0 40px 50px 40px;
  display: inline-block;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link{
  padding-left: 40px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about{
  padding: 182px 50px 180px 50px;
  display: grid;
  grid-template-columns: 430px 910px;
}

.about__column__logo{
  justify-self: center;
}

.about__logo{
  display: flex;
  border-radius: 360px;
  width: 240px;
  height: 240px;
  background-color: #000;
}

.about__logo-image{
  margin: 63px 46px;
}

.about__column__text{
  padding-top: 100px;
  padding-left: 26px;
}

.about__title{
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text{
  padding-top: 100px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__text-second{
  padding-top: 28px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer{
  padding: 5px 50px 90px 50px;
  display: grid;
  grid-template-columns: 240px 505px 595px;
  align-items: center;
}

.footer__menu{
  justify-self: end;
  align-self: start;
}

.footer__menu-list{
  list-style: none;
  text-align: center;
  justify-self: end;
}

.footer__menu-item_active .footer__menu-link{
  text-decoration: none;  
}

.footer__menu-link{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  font-family: 'Raleway', sans-serif;
}

.footer__social-list{
  display: flex;
  gap: 48px;
  justify-self: end;
  align-self: start;
  list-style: none;
}

.footer__social-icon{
  height: 48px;
}